* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

tbody {
    font-family: sans-serif;
    background-color: rgb(7, 62, 135);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: tomato;
}